<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<style>
.card{
    margin-left: 40%;
    margin-top: 15%;
    font-family: 'Times New Roman', Times, serif;
}
h3{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
}
</style>
<body>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <center><h3>LOGIN</h3></center>
            <form method="post">
              {% csrf_token %}
                <div class="mb-3">
                  <label for="" class="form-label">Email or Username</label>
                  <input class="form-control" type="Username" name="username" placeholder="abc@mail.com">
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Password</label>
                  <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <br>
                <div class="sign-in">
                  <center> <a href="/accounts/register">Sign-Up</a></center>
                 </div>
            </form>
            <div class="login-link">
              {% for message in messages %}
             <center><span>{{message}}</span></center>
              {% endfor %}
            </div>
        </div>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>